// Animations used in the Logo tiles and on Tile hover

@keyframes emptyTileHover {
  from {
    filter: brightness(120%) contrast(70%);
  }
  to {
    filter: brightness(120%) contrast(70%);
    transform: scale(0.97);
  }
}

@keyframes rollToRight {
  from {
    opacity: 0;
    left: 0;
  }
  to {
    opacity: 1;
    left: 50%;
    transform: rotate(410deg);
  }
}

@keyframes rollToLeft {
  from {
    opacity: 0;
    right: 0;
  }
  to {
    opacity: 1;
    right: 50%;
    transform: rotate(320deg);
  }
}